%table.table.table-striped.table-bordered.table-hover#answers
  %thead
    %tr
      %th ID
      %th Date
      %th Answer
      %th SMS Notification Sended
      %th Keywords
      %th Sentiment
  %tbody
    = render question.answers.order('created_at DESC')