= simple_form_for [@treatment, @question] do |f|
  = f.input :question, required: true
  = f.input :answer_type, required: true, collection: Question.answer_types.keys
  = f.submit class: 'btn btn-primary'