= content_for :header_title do
  = @question.question

- breadcrumb :question, @treatment.id, @question.id

= link_to question_answers_path(@question) do
  = render 'shared/resource_panel', title: 'Answers', description: 'List of question answers', icon_class: 'pe-7s-note fa-4x'
