= content_for :header_title do
  = @question.question

- breadcrumb :question, @game.id, @question.id

#question_data{"data-channel" => "question", "data-question-id" => @question.id}
  = render 'question_data', question: @question