= content_for :header_title do
  Treatments

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Patient
      %th Doctor
      %th Problem
  %tbody
    - @treatment_collection.each do |treatment|
      = render 'treatment', treatment: treatment
