= content_for :header_title do
  Games

- breadcrumb :treatments

- if @treatments.any?
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Kid
        %th Parent
        %th Game title
    %tbody
      = render @treatments

  .pagination_links
    = paginate @treatments
- else
  = render 'shared/no_records', text: "You didn't have any associated games."
