= content_for :header_title do
  Treatments

- breadcrumb :treatments

- if @treatments.any?
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th ID
        %th Patient
        %th Doctor
        %th Problem
    %tbody
      = render @treatments

  .pagination_links
    = paginate @treatments
- else
  = render 'shared/no_records', text: "You didn't have any associated treatments."
