= content_for :header_title do
  Treatments

- breadcrumb :treatments

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Patient
      %th Doctor
      %th Problem
  %tbody
    = render @treatments