= content_for :header_title do
  = @treatment.id

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Date
      %th Question
      %th Answer
      %th Alchemy - Keywords
      %th Alchemy - Sentiment
  %tbody
    - @treatment.questions.each do |question|
      - question.answers.each do |answer|
        = render 'answers/answer', answer: answer
