= content_for :header_title do
  Departments

- breadcrumb :departments, params[:practice_id], params[:id]

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th ID
      %th State
      %th City
      %th Provider group
      %th Address
      %th Clinicals
      %th Patient department name
      %th Name
      %th Place of service type
      %th Phone
      %th Zip
  %tbody
    - @department_collection.departments.each do |department|
      = render 'department', department: department
