= content_for :header_title do
  = @department.name

- breadcrumb :department, params[:practice_id], params[:id]

- if policy(:patient).index?
  = link_to practice_department_patients_path(params[:practice_id], params[:id]) do
    = render 'shared/resource_panel', title: 'Patients', description: 'List of department patients', icon_class: 'fa-4x pe-7s-user'
