- if @errors
  #error_explanation
    .alert.alert-danger
      = @errors['error']
    - if @errors['invalidfields'] && !@errors['invalidfields'].empty?
      %ul
        - @errors['invalidfields'].each do |invalid_field|
          %li= invalid_field.humanize
