= f.input :firstname, label: 'First name', required: true
= f.input :lastname, label: 'Last name', required: true
= f.input :email, label: 'Email', required: true
= f.input :dob, label: 'Date of birth(mm/dd/yyyy)', required: true
