= content_for :header_title do
  Practices
- breadcrumb :practices

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Communicator
      %th Coordinator sender
      %th Coordinator receiver
      %th Collector
  %tbody
    - @practice_collection.practices.each do |practice|
      = render 'practice', practice: practice
