#header
  .color-line
  #logo.light-version
    %span
      Alexa Kids
  %nav{:role => 'navigation'}
    .header-link.hide-menu
      %i.fa.fa-bars
    .mobile-menu
      %button.navbar-toggle.mobile-menu-toggle{'data-target' => '#mobile-collapse', 'data-toggle' => 'collapse', :type => 'button'}
        %i.fa.fa-chevron-down
      #mobile-collapse.collapse.mobile-navbar
        %ul.nav.navbar-nav
          %li
            = link_to 'Logout', destroy_user_session_path, method: 'delete'
    .navbar-right
      %ul.nav.navbar-nav.no-borders
        %li.dropdown
          = link_to destroy_user_session_path, method: 'delete' do
            %i.pe-7s-upload.pe-rotate-90