.flash-messages
  .row
    - flash.each do |name, msg|
      #toast-container.toast-top-center.alert{:role => 'alert'}
        .animated.fadeInDown{class: "toast-#{alert_class_for(name)}"}
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'alert', :type => 'button'}
            %span{'aria-hidden' => 'true'} ×
          .toast-message= msg
