%aside#menu
  #navigation
    .profile-picture
      .stats-label.text-color
        = link_to gravatar_for(current_user), edit_user_registration_path
        %span.font-extra-bold.font-uppercase= current_user.name
        %small.text-muted= current_user.email
    %ul#side-menu.nav
      -#%li{ class: is_active?(['visitors'])}
      -#  = link_to root_path do
      -#    Games
      -#    %span.label.label-success.pull-right start
      -#- if policy(:practice).index?
      -#  %li{ class: is_active?(['practices', 'departments', 'patients', 'providers', 'insurance_packages'])}
      -#    = link_to 'Practices', practices_path
      %li{ class: is_active?(['games', 'questions'])}
        = link_to 'Games', games_path
