%aside#menu
  #navigation
    .profile-picture
      .stats-label.text-color
        = link_to gravatar_for(current_user), edit_user_registration_path
        %span.font-extra-bold.font-uppercase= current_user.name
    %ul#side-menu.nav
      %li.active
        %a{:href => "index.html"}
          %span.nav-label Page 1
          %span.label.label-success.pull-right start
      %li
        %a{:href => "page2.html"}
          %span.nav-label Page 2