%aside#menu
  #navigation
    .profile-picture
      .stats-label.text-color
        %span.font-extra-bold.font-uppercase Username
        .dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %small.text-muted
              Links
              %b.caret
          %ul.dropdown-menu.animated.flipInX.m-t-xs
            %li
              %a{:href => "#"} Example link
            %li
              %a{:href => "#"} Example link
    %ul#side-menu.nav
      %li.active
        %a{:href => "index.html"}
          %span.nav-label Page 1
          %span.label.label-success.pull-right start
      %li
        %a{:href => "page2.html"}
          %span.nav-label Page 2