.normalheader
  .hpanel
    .panel-body
      #hbreadcrumb.pull-right
        %ol.hbreadcrumb.breadcrumb= breadcrumbs separator: ' / ', display_single_fragment: true
      .col-md-9
        %h3.font-light.m-b-xs
          = yield :header_title
