.normalheader
  .hpanel
    .panel-body
      #hbreadcrumb.pull-right
        %ol.hbreadcrumb.breadcrumb= breadcrumbs separator: ' / ', display_single_fragment: true

      %h2.font-light.m-b-xs
        = yield :header_title
